<div class ="container">
    <div class="row">
        <div id="wrapper_profile_panel">
            <div class="col-sm-offset-2 col-sm-8">
                <div id="profile_panel">
                    <div id="pageTitle_row" class="row">
                        <div id="pageTitle">
                            {Person_Name}
                        </div>
                    </div>
                    <div class="row">

                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>{name}</td>
                                    <td>{Person_Name}</td>
                                </tr>
                                <tr>
                                    <td>{date_of_birth}</td>
                                    <td>{Birthday}</td>
                                </tr>
                                <tr>
                                    <td>{gender}</td>
                                    <td>{Gender}</td>
                                </tr>
                                <tr>
                                    <td>{room_number}</td>
                                    <td><input type="text" id= "room_number" name="room_number" class="form-control fonttype" placeholder="{RoomNumber}" required></td>
                                </tr>
                                <tr>
                                    <td>{phone_number}</td>
                                    <td><input type="text" id= "phone_number" name="phone_number" class="form-control fonttype" placeholder="{PhoneNumber}" required></td>
                                </tr>
                                <tr>
                                    <td>{language}</td>
                                    <td class="form-group">
                                        <select class="form-control" name="language" id="language">
                                            <option value="dutch" {checked_dutch}>Nederlands</option>
                                            <option value="english" {checked_english} >English</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{change_password}</td>                            
                                    <td id ="passwordRow" class="form-group">
                                        <input type="password" id= "old" name="old_password" class="form-control fonttype" placeholder="{old_placeholder}" required>
                                        <input type="password" id= "new" name="new_password" class="form-control fonttype" placeholder="{new_placeholder}" required>
                                        <input type="password" id= "conf" name="conf_password" class="form-control fonttype" placeholder="{conf_placeholder}" required>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div id="buttonSubmit">
                            <div id="errorbox" class="alert alert-success inactive">

                            </div>
                            <button class="btn btn-default" value="Save" onclick="post_elderly()">{save}</button>
                            <br>
                            <br>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
