
#congrats_message,
#exchange_message{
    color:#405250;
    font-family: 'Open Sans';       
    font-size: 4.5vh;
    font-weight: bold;
}

#Help_icon{
    display:none;
}

#score_message{
    color:#405250;
    font-family: 'Open Sans';       
    font-size: 8.5vh;
    font-weight: bold;
}

footer{
    border-top: 4px solid;
    border-color: #CDDC39;
    background-color: #F0F4C3;
    margin-top: 50px;
    line-height: 50px;
    height : 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#content_wrapper{
    width:100%;
    margin:0px;
    padding:0px;
}

#buttonnext:hover{
    text-decoration: none;
}
    
.background{
    background: url("../pictures/FlowerGarden.jpg") ;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    overflow: hidden;
    opacity: .4;
    width: 100%;
    height: 80%;    /*10% is the navbar*/
    z-index: -1;
}

#content{
    text-allign:center;
    height: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
    white-space: normal !important;
    word-wrap: break-word;
}

.btn-arrow-right,
.btn-arrow-left {
    color: white;
    height: 60px;
    position: relative;
    padding-top:0px;
    background-color: #009688;
    margin-top: 17px;
    font-family: 'Open Sans';       
    font-size: 14px;

}
.btn-arrow-left:hover,
.btn-arrow-left:active,
.btn-arrow-right:hover,
.btn-arrow-right:active
{
    background-color: #009688;
    color:#CDDC39;
}

.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 8px; /* move it down because of rounded corners */
    width: 42px; /* same as height */
    height: 42px; /* button_outer_height / sqrt(2) */
    background: #009688; /* use parent background */
    border: #009688; /* use parent border */
    z-index: -1; 
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:after {
    
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before{
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-left:after,
.btn-arrow-right:before{ /* align the "after" square to the right */
    display: none;
} 

.btn-arrow-left:before { /* align the "before" square to the left */
    left: -20px;
}
.btn-arrow-right:after{ /* align the "after" square to the right */
    right: -20px;
}

#previous_navbutton{
        padding-left: 60px;

}
#next_navbutton{
        padding-right: 60px;

}