                                    {allrewards}
                                    <li>
                                        <form action="editReward" method="post">
                                            <div class ="row">
                                                <div class="col-xs-8 reward_name">{Reward}</div>
                                                <div class="col-xs-2 reward_price">{Price}</div>
                                                <div class="col-xs-2">
                                                    <input onchange="submitChange('{Reward}', this)" type="checkbox" name="available" class="available" {Available} />
                                                </div>
                                                <input type='hidden' class='Reward' name='Reward' value='{Reward}'/>
                                                </br>
                                            </div>
                                        </form>
                                    </li>
                                    {/allrewards}