<div class ="container-fluid" >
    <div class = "row">
        <div class="navbar navbar-collapse">
            <div class = "col-md-offset-4 col-md-4 navbar_icons">
                <a href="profile" class="btn btn-primary">
                    <i class="fa fa-user-o fa-3x" ></i><br>
                    <span class="fontfamily">{settings_button}</span>
                </a>
            </div>
        </div>
    </div>

    <div class = "row">
        <div class = "col-sm-12">
            <!-- used for desktop screen: horizontal buttons -->
            <div class="btn-group btn-group-justified">
                <a href="questionnaire" class="btn btn-primary">
                    <i class="fa fa-list-alt fa-5x" ></i>
                    <p class="fontfamily">{questionnaire_button}</p>
                </a>
                <a href="tips" class="btn btn-primary tipsButtonBorder">
                    <i class="fa fa-lightbulb-o fa-5x"></i>
                    <p class="fontfamily">{tips_button}</p>
                </a>
                <a href="score" class="btn btn-primary">
                    <i class="fa fa-trophy fa-5x"></i>
                    <p class="fontfamily">{score_button}</p>
                </a>
            </div>
            <!-- end desktop screen -->

            <!-- used for mobile view: vertical buttons -->
            <div class="btn-group btn-group-vertical">
                <a href="questionnaire" class="btn btn-primary">
                    <i class="fa fa-list-alt fa-3x" ></i>
                    <p class="fontfamily">{questionnaire_button}</p>
                </a>
                <a href="tips" class="btn btn-primary tipsButtonBorder">
                    <i class="fa fa-lightbulb-o fa-3x"></i>
                    <p id="verticalcentertext" class="fontfamily">{tips_button}</p>
                </a>
                <a href="score" class="btn btn-primary">
                    <i class="fa fa-trophy fa-3x"></i>
                    <p class="fontfamily">{score_button}</p>
                </a>
            </div>
            <!-- end mobile version -->
        </div>
    </div>

    <div class ="row">
        <div class ="navbar navbar-fixed-bottom">
            <div class = "col-md-offset-4 col-md-4 navbar_icons" >
                <a href="../AccountController/logout" class="btn btn-primary">
                    <i class="fa fa-power-off fa-3x" ></i><br>
                    <span class="fontfamily"> {stop_button}</span>
                </a>
            </div> 
        </div>
    </div>
</div>