<div id='questionnairy_content' class="container">

    <main id="q_and_a">
    <div  class="col-xs-offset-2 col-xs-8">
            <div id="tips_panel">
                <div class="row">
                <span id="rewards_bought_text">{header}</span>
                </div>
                <ul id="frame" class="list-group">
                    <li class="list-group-item"><i class="fa fa-lightbulb-o fa-3x"></i><span>  {tip_1} </span></li>
                    <li class="list-group-item"><i class="fa fa-lightbulb-o fa-3x"></i><span>  {tip_2} </span></li>
                    <li class="list-group-item"><i class="fa fa-lightbulb-o fa-3x"></i><span>  {tip_3} </span></li>
                    <li class="list-group-item"><i class="fa fa-lightbulb-o fa-3x"></i><span>  {tip_4} </span></li>

                </ul>
            </div>
        </div>
    
    
   
    </main>

</div>
<footer>
    <div class="row">
        <div class="col-xs-1">
        </div>
        {navigationbuttons}
        <div class="col-xs-5">
            <button type="button" class ="{class}" onclick="{func}" >{name}</button>
        </div>
        {/navigationbuttons}
        <div class="col-xs-1">
        </div>
    </div>
</footer>